{% extends "base.html" %}
{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-shopindexpage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>

    <div class="intro">{{ page.intro|richtext }}</div>
    <a href="/">Return Home</a>

    {% for product in productpages %}
        {% with product=product.specific %}
            <h2><a href="{% pageurl product %}">{{ product.title }}</a></h2>

            <p>{{ product.short_description }}</p>
        {% endwith %}
    {% endfor %}
{% endblock %}